.root{
    --speed:5
}
body{
    background-image: url(download.jpg);
}
.heading{
    display: inline-block;
    width: 600px;
    height: 55px;
    background-color: blanchedalmond;
    color: black;
    font-size: 53px;
    text-align: center;
    margin-left: 29.5%;
    box-shadow: 5px 10px;
    margin-top: 20px;
}
.machine{
    width: 800px;
    height: 400px;
    background-color: coral;
    display: flex;
    align-items: center;
    margin-left: 24%;
    margin-top: 35px;
    border-bottom-left-radius: 65px;
    border-top-left-radius: 65px;
    border-bottom-right-radius:65px ;
    border-top-right-radius: 65px;
}
.slot{
    height: 225px;
    width:190px ;
    border: solid black 2px;
    margin-top: 35px;
    margin-left: 55px;
    background-color: blanchedalmond;
    text-align: center;
    font-size: 75pt;
    line-height: 250px;
    overflow: hidden;
}
#btn{
        width: 250px;
        height: 40px;
        display: inline-block;
        background-color: orange;
        color: white;
        text-align: center;
        text-decoration: none;
        line-height: 35px;
        margin-top: 30px;
        margin-left: 30%;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
}
#stop{
    width: 250px;
    height: 40px;
    display: inline-block;
    background-color: orange;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 35px;
    margin-top: 30px;
    margin-left: 125px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
#rld{
    display: block;
    width: 250px;
    height: 40px;
    background-color: orange;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 35px;
    margin-top: 33px;
    margin-left: 42%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
@keyframes slot{
    0%{
        transform:translateY(200px) ;
    }
    100%{
        transform: translateY(-200px);
    }
}
@keyframes spinslot{
    0%{
        transform:translateY(-200px) ;
    }
    100%{
        transform: translateY(200px);
    }
}